body {
<<<<<<< HEAD
	width: 320px;
=======
<<<<<<< HEAD
	width: 900px;
=======
	width: 320px;
>>>>>>> origin/master
>>>>>>> origin/master
	background-color: black;
	margin: 0 auto;
}
#box {
	background-color: white;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
article {
	width: 320px;
	margin: 0 290px;
}
=======
>>>>>>> origin/master
>>>>>>> origin/master
h1 {
	text-align: center;
}
span {
	font-style: italic;
	color: green;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
figure {
	margin: 0px 290px;
}
figcaption {
	width: 320px;
}
h2 {
	margin: 10px;
}
#email {
	margin: 0 50px;
=======
>>>>>>> origin/master
h2 {
	margin: 10px;
}
li {
	color: green;
<<<<<<< HEAD
=======
>>>>>>> origin/master
>>>>>>> origin/master
}
p {
	margin: 10px;
	text-indent: 10px;
<<<<<<< HEAD
	color: green;
=======
<<<<<<< HEAD
=======
	color: green;
>>>>>>> origin/master
>>>>>>> origin/master
}
aside {
	margin: 10px;
	text-indent: 10px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
}
nav {
	margin: 0 360px;
}
footer {
	margin: 0 360px;
=======
>>>>>>> origin/master
	color: green;
}
nav {
	margin: 60px;
}
footer {
	margin: 10px;
	color: green;
<<<<<<< HEAD
=======
>>>>>>> origin/master
>>>>>>> origin/master
}