body {
<<<<<<< HEAD
	width: 900px;
=======
>>>>>>> origin/gh-pages
	background-color: black;
	margin: 0 auto;
}
#box {
	width: 900px;
	background-color: white;
}
article {
	width: 320px;
	margin: 0 290px;
}
<<<<<<< HEAD
<<<<<<< HEAD
form {
	float: right;
	margin: 0 40px;
}
header {
	margin: 65px;
=======
ul {
	margin: 0 auto;
>>>>>>> origin/master
}
=======
>>>>>>> origin/gh-pages
h1 {
	text-align: center;
}
span {
	font-style: italic;
	color: green;
}
figure {
<<<<<<< HEAD
	margin: -20px 290px;
=======
	width: 320px;
	margin: 0px 290px;
>>>>>>> origin/gh-pages
}
figcaption {
	width: 320px;
}
h2 {
	margin: 10px;
}
<<<<<<< HEAD
li {
	color: green;
}
#email {
	margin: 0 50px;
}
p {
	margin: 10px;
	text-indent: 10px;
	color: green;
=======
p {
	margin: 10px;
	text-indent: 10px;
>>>>>>> origin/gh-pages
}
aside {
	margin: 10px;
	text-indent: 10px;
<<<<<<< HEAD
}
nav {
	margin: 0 100px;
}
footer {
	margin: 0 360px;
	color: green;
=======
}
footer {
	margin: 360px 360px;
	color: white;
>>>>>>> origin/gh-pages
}