body {
	width: 900px;
	background-color: black;
	margin: 0 auto;
}
#box {
	background-color: white;
}
article {
	width: 320px;
	margin: 0 290px;
}
h1 {
	text-align: center;
}
span {
	font-style: italic;
	color: green;
}
figure {
	margin: 0px 290px;
}
figcaption {
	width: 320px;
}
h2 {
	margin: 10px;
}
#email {
	margin: 0 50px;
}
p {
	margin: 10px;
	text-indent: 10px;
}
aside {
	margin: 0 360px;
	text-indent: 10px;
}
nav {
	margin: 0 auto;
}
footer {
	margin:0 360px;
	width: 100px;
}


