body {
<<<<<<< HEAD
	background-color: black;
}
#contents {
	color: white;
=======
	background-color: #000000;
}
#contents {
<<<<<<< HEAD
	color: white;
=======
	color: #FFFFFF;
>>>>>>> origin/gh-pages
>>>>>>> origin/gh-pages
}