body {
	width: 320px;
	background-color: black;
	margin: 0 auto;
}
#box {
	background-color: white;
}
h1 {
	text-align: center;
}
span {
	font-style: italic;
	color: green;
}
h2 {
	margin: 10px;
}
li {
	color: green;
}
p {
	margin: 10px;
	text-indent: 10px;
	color: green;
}
aside {
	margin: 10px;
	text-indent: 10px;
	color: green;
}
nav {
	margin: 60px;
}
footer {
	margin: 10px;
	color: green;
}